---
layout: default
---

<div class="post">
  <article>

    {% if page.category_order %}
      {% assign categories = page.category_order %}
    {% else %}
      {% assign categories = page.profiles | map: 'category' | uniq %}
    {% endif %}

    {% for cat in categories %}
      <h2>{{ cat }}</h2>

      {% if cat == "Alumni" %}
        {% assign alumni_entry = page.profiles | where: "category", "Alumni" | first %}

        {% if alumni_entry.project %}
          <p><em>{{ alumni_entry.project }}</em></p>
        {% endif %}

        {% if alumni_entry.names %}
          <ul>
            {% for name in alumni_entry.names %}
              <li>{{ name }}</li>
            {% endfor %}
          </ul>
        {% endif %}

      {% else %}
        {% assign people = page.profiles | where: "category", cat %}
        {% for profile in people %}
          <hr>
          <div class="profile float-{{ profile.align | default: 'left' }}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3 }}px, (min-width: 576px) 30vw, 95vw{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}

            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}

    {% endfor %}

  </article>
</div>
